* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url(../images/adventure-time-background.jpg);
    height: 100%;
}
h1, h2 {
    padding: 5px;
}
h1 {
    font-size: 40px;
    font-weight: 600;
    padding-right: 15%; 
}
h2 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Permanent Marker', cursive;
}
h3 {
    font-size: 20px;
    font-weight: 250;
    font-family: 'Permanent Marker', cursive;
}
p {
    font-size: 16px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

img {
    width: 125px;
    height: 125px;
    object-fit: scale-down; 
    margin: auto;
    display: block;
    background-color: white;
}
button {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 8px;
}
.wrapper {
    background-color: rgba(250, 250, 250, 0.1);
    padding: 20px 30px;
    height: 100%;
    width: 100%;
    position: fixed;
}
.game-title {
    text-align: right;
    font-family: 'Permanent Marker', cursive;
}
.character-card {
    background-color: white;
    padding: 10px;
    border: solid 3px blueviolet;
    width: 160px;
    float: left;
    margin: 0 5px 0 0;
    height: 175px;
}
.card-name-p {
    height: 35px;
}
.card-row {
    height: 240px;
    clear: both;
}
.button-row {
    height: 240px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.info-text {
    display: none;
}
#info-text-1 {
    display: none;
}
#info-text-2 {
    display: none;
}

#opponents {
    float: left;
    width: 60%;
}
#button-row {
    float: left;
    width: 40%;
}
#npc-enemies {
    float: left;
    width: 30%;
}
#game-info {
    float: left;
    width: 40%;
}
#restart {
    background-color: green;
}


